html {
  width: auto;
  vertical-align: middle;
}

body {
  background: linear-gradient(0deg, #f7e9e0, #f5e9e2)
  width: 100%;
  max-width: 400px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}

ol li {
  margin-bottom: 1em;
  text-align: left;
}

a:link    {color:blue; background-color:transparent; text-decoration:none}
a:visited {color:purple; background-color:transparent; text-decoration:none}
a:hover   {color:blue; background-color:yellow; text-decoration:underline}
a:active  {color:blue; background-color:transparent; text-decoration:underline}

footer {
  margin-bottom: 5%;
}
