html {
  width: auto;
}

@font-face {
  font-family: "Lucida Calligraphy";
  src: url("stylesheets/fonts/Lucida-Calligraphy.ttf");
}
  
body {
  background: linear-gradient(0deg, black, red);
  width: 90vw;
  text-align:justify;
  margin-left: auto;
  margin-right: auto;
  padding: 0 !important;
  color: yellow;
  font-family: "Lucida Calligraphy", serif;
}

h1 {
  text-align: center;
  text-decoration: underline;
  font-size: 10vw;
}
h2 {
  font-size: 7vw;
}
h3 {
  font-size: 6vw;
}
h4 {
  font-size: 5vw;
}
p {
  font-size: 4vw;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
}

ul {
    text-align:left;
    list-style-type: square;
    font-size: 4vw;
}

form {
    font-size: 5vw;
}

input {
    font-size: 5vw;
    width: 100%;
}

input:focus {
    background-color: lightblue;
}

input[type=button], input[type=submit] {
    font-size: 5vw;
    border: 2px solid black;
    cursor: pointer;
}

a:link    {color:blue; background-color:transparent; text-decoration:none}
a:visited {color:purple; background-color:transparent; text-decoration:none}
a:hover   {color:blue; background-color:yellow; text-decoration:underline}
a:active  {color:blue; background-color:transparent; text-decoration:underline}
