html {
  width: auto;
}

body {
  background: linear-gradient(0deg, red, blue);
  width: 100%;
  text-align:justify;
  margin-left: 0;
  margin-right: 0;
  color: green;
  font-size: 10em;
}

h1 {
  text-decoration: underline;
}

ol li {
  margin-bottom: 1em;
  text-align: left;
}

a:link    {color:blue; background-color:transparent; text-decoration:none}
a:visited {color:purple; background-color:transparent; text-decoration:none}
a:hover   {color:blue; background-color:yellow; text-decoration:underline}
a:active  {color:blue; background-color:transparent; text-decoration:underline}

footer {
  margin-bottom: 5%;
}
